


h1{
    text-align: center;
    font-family: lucida sans;
    color: white;
}

hr{
margin-left: 480px;
margin-right: 480px;
}

body{
background-color: rgb(34, 96, 122);
text-align: center;
font-family: monospace;
color:white;
}

button{
    text-align: center;
    font-family: Cambria;
    background-color: black;
    color: white;
}

button:disabled{
background-color: brown;
}

#result{
font-family: lucida Sans;
font-size: 1rem;
}

#total{
font-family: Gill Sans;
font-size: 1.3rem;
}